<div id="landing">
  <div class="toolbar">
    <h1>Menu</h1>
    <a class="button slideup" id="infoButton" href="#logout">Logout</a>
  </div>
  <%= render :partial => "mobiles/logo" %>
  <ul class="rounded">
    <li class="forward">
      <a href="<%= mobiles_path(:format => "touch") %>">Start Workout</a>
    </li>
    <li class="forward">
      <a href="#">Add Measurements</a>
    </li>
  </ul>
</div>
