<div id="super-header" class="clearfix">
  <div class="container_12">
    <div class="grid_3 prefix_9">
      <ul id="account">
        <li><a href="#">Signup</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="header" class="clearfix">
  <div class="container_12">
    <div class="grid_4">
      <div id="logo">
        <img src="/images/logo.png" alt="logo" style="padding-top: 0.45em;" />
      </div>
    </div>
    <div class="grid_8">
      <div id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="callout" class="clearfix">
  <div class="container_12">
    <div class="grid_5">
      <div id="mission">
        <h1>Online Fitness Tracking</h1>
        <h1>Mobilize Your Workouts</h1>
        <p>Set your fitness goals and create your workout plans <b>online</b>. Use your <b>mobile device</b> during workouts to execute your plan.  Analyze your trends to <b>track your progress</b>.</p>
        <a id="button-more" href="#">Tell Me More</a>
        <a id="button-signup" href="#">Signup</a>
      </div>
    </div>
    <div class="grid_7">
      <div id="demo">
        <img src="/images/demo.png" alt="logo" style="padding: 1em 1.5em;"/>
      </div>
    </div>
  </div>
</div>
<div id="detail" class="clearfix">
  <div class="container_12">
    <div id="goal" class="grid_3">
      <h3>Set your fitness goals</h3>
      <p>Sapien lectus cras, in adipiscing, turpis pede. Arcu at vel. Mauris lacinia, etiam tempus, mauris ea eget. Leo vel. Purus libero, purus eu placerat, sed ultrices sed.</p>
    </div>
    <div id="workout" class="grid_3">
      <h3>Create your workouts</h3>
      <p>Lorem ipsum dolor sit amet, diam lorem, mi fermentum arcu porta erat convallis, mattis lacus magna mauris justo neque risus, fringilla scelerisque pede. Nam ut, arcu semper, in ut suscipit libero erat elit.</p>
    </div>
    <div id="mobile" class="grid_3">
      <h3>Mobilize your routines</h3>
      <p>Sed dis, euismod amet nec, sed et libero. Ipsum massa odio. Luctus dui vehicula, nulla nonummy ac. Dui accumsan, fringilla lorem euismod. Quam non, elementum a dictum.</p>
    </div>
    <div id="analyze" class="grid_3">
      <h3>Analyze your trends</h3>
      <p>Tincidunt id. Sed pellentesque dui, nulla in. Arcu in, elementum lobortis. Duis mauris, vitae nec. Duis neque sem, massa tristique.</p>
    </div>
  </div>
</div>
<div id="footer" class="clearfix">
  <div class="container_12">
    <div class="grid_3 suffix_10"
      <span>© 2010 XXX. Terms & Conditions.</span>
    </div>
  </div>
</div>