<div id="super-header" class="clearfix">
  <div class="container_12">
    <div class="grid_3 prefix_9">
      <ul id="account">
        <li><a href="#">Signup</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="header" class="clearfix">
  <div class="container_12">
    <div class="grid_4">
      <div id="logo">
        <img src="/images/logo.png" alt="logo" style="padding-top: 0.45em;" />
      </div>
    </div>
    <div class="grid_8">
      <div id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="callout" class="clearfix">
  <div class="container_12">
    <div class="grid_5">
      <div id="mission">
        <h1>Online Fitness Tracking</h1>
        <h1>Mobilize Your Workouts</h1>
        <p>Set your fitness goals and create your workout plans <b>online</b>. Use your <b>mobile device</b> during workouts to execute your plan.  Analyze your trends to <b>track your progress</b>.</p>
        <a id="button-more" href="#">Tell Me More</a>
        <a id="button-signup" href="#">Signup</a>
      </div>
    </div>
    <div class="grid_7">
      <div id="demo">
        <img src="/images/demo.png" alt="logo" style="padding: 1em 1.5em;"/>
      </div>
    </div>
  </div>
</div>
<div id="detail" class="clearfix">
  <div class="container_12">
    <div id="goal" class="grid_3">
      <h3>Set Your Fitness Goals</h3>
      <p>Your fitness goals drive you.  <b>What are you trying to achieve?</b> Weight Loss? Training for a Triathlon? Keep your goals defined.  Your goals motivate you.  <b>Get2Fit</b> keeps your goals clearly within reach.</p>
    </div>
    <div id="workout" class="grid_3">
      <h3>Create Your Workouts</h3>
      <p><b>Get2Fit</b> creates workouts to match your goals.  Our expert <b>Personal Trainers</b> craft custom plans, or choose from <b>predefined routines</b>.  You set the parameters.  We maximize your results.</p>
    </div>
    <div id="mobile" class="grid_3">
      <h3>Mobilize Your Routines</h3>
      <p><b>iPhone, Android, Blackberry, and <a href="#">many others</a></b>. Your mobile device tracks workouts defined by you or your Personal Trainer.  Quickly and easily enter information defined for each workout.</p>
    </div>
    <div id="analyze" class="grid_3">
      <h3>Analyze Your Trends</h3>
      <p>You've been working hard!  You need to visualize how your workouts are matching-up to your goals.  <b>Get2Fit</b> allows you to view and analyze <b>comprehensive trends</b> related to your goals and workouts.</p>
    </div>
  </div>
</div>
<div id="footer" class="clearfix">
  <div class="container_12">
    <div class="grid_3 suffix_10"
      <span>© 2010 XXX. Terms & Conditions.</span>
    </div>
  </div>
</div>