<% content_for :content do -%>
  <!-- div id="callout" class="clearfix" -->
    <div id="callout" class="container_12 clearfix">
      <div class="prefix_1 grid_5">
        <div id="mission">
          <h1>Online Fitness Tracking</h1>
          <h1>Mobilize Your Workouts</h1>
          <p>Set your fitness goals and create your workout plans <b>online</b>. Use your <b>mobile device</b> during workouts to execute your plan.  Analyze your trends to <b>track your progress</b>.</p>
          <a class="button-landing" href="#">Tell me more</a>
          <%= link_to 'Sign me up', new_user_path, :class => "button-landing" %>
        </div>
      </div>
      <div class="grid_6">
        <div id="demo">
          <img src="/images/demo.png" alt="logo" style="padding: 1em 1.5em;"/>
        </div>
      </div>
    </div>
  <!-- /div -->
  <!-- div id="detail" class="clearfix" -->
    <div id="detail" class="container_12 clearfix">
      <div id="goal" class="grid_3">
        <h3>Set Your Fitness Goals</h3>
        <p>Your fitness goals drive you. <b>What are you trying to achieve?</b> Weight Loss? Training for a Triathlon? Keep your goals defined. Your goals motivate you. <b>get2fit</b> keeps your goals clearly within your reach.</p>
      </div>
      <div id="workout" class="grid_3">
        <h3>Create Your Workouts</h3>
        <p><b>get2fit</b> allows you to create workouts that match your goals. Our expert <b>Personal Trainers</b> craft custom plans, or choose from <b>predefined routines</b>. You set the parameters. <b>get2fit</b> maximizes your results.</p>
      </div>
      <div id="mobile" class="grid_3">
        <h3>Mobilize Your Routines</h3>
        <p><b>iPhone, Android, Blackberry, and <a href="#">many others</a></b>. Your mobile device tracks the workouts defined by you or your Personal Trainer. Quickly and easily enter information specifically targeted for each workout.</p>
      </div>
      <div id="analyze" class="grid_3">
        <h3>Analyze Your Trends</h3>
        <p>You've been working hard! You need to <b>visualize</b> how your workouts are matching-up to your goals. <b>get2fit</b> encourages you to view and analyze <b>comprehensive trends</b> related to your goals and workouts.</p>
      </div>
    </div>
  <!-- /div -->
<% end -%>