<% content_for :content do -%>
  <div id="build" class="container_12 clearfix" style="border: 1px solid #c0deed">
    <div id="program" class="grid_12">
      <div class="grid_10 alpha"><input type="text" tabindex="1" size="40"/></div>
      <div class="grid_2 omega"><a href="#" class="button-big">Search</a></div>
      <!-- %= render :partial => "programs" % -->
      <div class="build-item grid_12">
        <div style="color: #336693; font-size: 1.25em;">Program 1</div>
        <div>Program 1 is very cool.  You're going to really love this.</div>
      </div>
      <div class="build-item grid_12">
        <div style="color: #336693; font-size: 1.25em;">Program 2</div>
        <div>Program 2 is very cool.  You're going to really love this.</div>
      </div>
      <div class="build-item grid_12">
        <div style="color: #336693; font-size: 1.25em;">Program 3</div>
        <div>Program 3 is very cool.  You're going to really love this.</div>
      </div>
      <div class="build-item grid_12">
        <div style="color: #336693; font-size: 1.25em;">Program 4</div>
        <div>Program 4 is very cool.  You're going to really love this.</div>
      </div>
    </div>
    <div id="workout_plans "class="grid_12 clearfix">
      <span>Workout Plans</span>
    </div>
  </div>
<% end -%>