<h1>Program</h1>
<div class="account-form">
  <%= form.label :name %><br />
  <%= form.text_field :name %><br />
  <br />
  <%= form.label :description %><br />
  <%= form.text_area :description, :rows => 8, :cols => 43 %><br />
  <br />
</div>
