body {
  background: #fff url(/images/bg.png) repeat-x scroll 0 0;
  color: #002233;
}

abbr {
  border: none;
  font-weight: normal;
}

body, p, ol, ul, td, th {
  font-family: Helvetica, Arial;
  font-size:   13px;
  line-height: 18px;
  text-align: left;
  padding: 1px 5px;
}

label {
  font-size: 1.25em;
  font-weight: bold;
  color: #5599bb;
}

input {
  color: #333;
  border: 1px solid #aaa;
  background: #e2e2e2 url(/images/button-big.png) repeat-x scroll 0 0;
  margin: 0 10px 0 0;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input[type=submit]:hover, input[type=submit]:focus {
  background-position: 0 -10px;
  color: #111;
  cursor: pointer;
}

input[type=text], input[type=password] {
  background: #f2f2f2;
  text-align: left;
  padding: 3px;
}

textarea {
  color: #333;
  border: 1px solid #aaa;
  background: #f2f2f2;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  font-family: Helvetica, Arial;
  padding: 3px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

hr {
  border: 0;
  color: #d2d2d2;
  background-color: #d2d2d2;
  height: 1px;
  width: 100%;
  text-align: left;
}

td.item {
  font-weight: bold;
  padding-right: 20px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.flash-info {
  color: #333;
  border-top: 1px solid #c0deed;
  border-left: 1px solid #c0deed;
  border-right: 1px solid #c0deed;
  background: #99CC22 url(/images/button-landing.png) repeat-x scroll 0 0;
  margin: 0 -11px;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 10px 15px;
  text-align: left;
  text-shadow: 0 1px 0 #DDFF66;
  text-decoration: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.content {
  background-color: #fff;
  border: 1px solid #c0deed;
}

.content h1 {
  background-color: #ff8c15;
  color: #fff;
  font-weight:bold;
  padding: 12px;
  text-shadow:0 1px #222222;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.account-form {
  padding: 20px 60px;
  background-color: #e1e9ed;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0px 2px 2px #999;
  -webkit-box-shadow: 0px 2px 2px #999;
  box-shadow: 0px 2px 2px #999;
}


/******************************************************************************/
/* Super-header stuff                                                         */

#super-header {
  background-color: #5599bb; /*#336693;*/
  border: 1px solid #5599bb;
  height: 2.3em;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
}

#account {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  float: right;
  padding: 0;
  padding-right: 10px;
  margin: 0.75em;
}

#account li {
  color: #C0DEED;
  float:left;
  line-height: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}

#account li:first-child {
  border-left: none;
}

#account li a {
  color: #fff;
  margin: 0 0 0 10px;
  padding: 2px 2px;
  text-decoration: none;
}

#account li a:hover {
  color: #002233;
  background-color: #c0deed; /*#cfdbe5;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/******************************************************************************/
/* Header stuff                                                               */
#header {
  background-color: #c0deed; /*#cfdbe5;*/
  border: 1px solid #c0deed;
}

#logo {
  height: 65px;
}

#nav {
  height: 60px;
  float: right;
}

#nav ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-top: 0.75em;
}

#nav ul li {
  float:left;
  margin-left: 5px;
  margin-right: 0px;
  border-left: 1px solid #002233;
}

#nav ul li:first-child {
  border-left: none;
}

#nav li a {
  color: #002233;
  margin: 0 0 0 5px;
  padding: 2px 15px;
  font-size: 1.5em;
  text-decoration: none;
  /*text-shadow: 0px 1px #fff;*/
}

#nav li a:hover {
  color: #fff;
  background-color: #5599bb; /*#002233;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*text-shadow: 0px 1px #002233;*/
}

/******************************************************************************/
/* Landing Callout                                                            */
#callout {
  background: /*#336693*/ #fff url(/images/callout-bg.png) repeat-x scroll 0 0;
  border-left: 1px solid #5b7993;
  border-right: 1px solid #5b7993;
}

#mission {
  color: #fff;
  padding-top: 35px;
}

#mission p {
  color: #c0deed;
  margin-bottom: 40px;
}

#mission p b {
  color: #fff;
}

#mission h1 {
  font-size: 2.25em;
  text-shadow: 0px 2px #222;
  font-style: italic;
  letter-spacing: 0.02em;
}

#mission h1:first-child {
  padding-top: 0.5em;
}

#mission p {
  font-size: 1.25em;
  line-height: 1.5em;
  text-shadow: 0px 1px #222;
}

a.button-landing {
  color: #333;
  border: 1px solid #DDFF66;
  background: #99CC22 url(/images/button-landing.png) repeat-x scroll 0 0;
  margin: 0px 5px;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #DDFF66;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.button-landing:hover, a.button-landing:focus {
  background-position: 0 -10px;
  color: #111;
}

a.button-default {
  color: #333;
  border: 1px solid #aaa;
  background: #e2e2e2 url(/images/button-big.png) repeat-x scroll 0 0;
  margin: 0px 10px 0 0;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.button-default:hover, a.button-default:focus {
  background-position: 0 -10px;
  color: #111;
  cursor: pointer;
}

/******************************************************************************/
/* Landing Information                                                        */
#detail {
  background-color: #fff; /*#e1e9ed; /*#ddeef6;*/
  border: 1px solid #e1e9ed; /*#ddeef6;*/
  padding-bottom: 15px;
}

#detail h3 {
  margin-bottom: 0.5em;
  color: #002233;
  font-size: 1.5em;
  /*text-shadow: 0 1px #888;*/
  /*text-decoration: underline;*/
}

#detail p {
  color: #336693;
  margin-top: 0.5em;
  padding: 0;
}

/******************************************************************************/
/* Footer stuff                                                               */
#footer {
  padding-top: 0.5em;
  height: 2em;
  color: #fff;
  background-color: #5599bb; /*#336693;*/
  border: 1px solid #5599bb;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

#contact {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  float: right;
  margin: 0.25em;
  margin-right: 0.75em;
  padding: 0 10px;
}

#contact li {
  float:left;
  line-height: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}

#contact li:first-child {
  border-left: none;
}

#contact li a {
  color: #fff;
  margin: 0 0 0 10px;
  padding: 2px 2px;
  text-decoration: none;
}

#contact li a:hover {
  color: #002233;
  background-color: #c0deed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/******************************************************************************/
/* Dashboard crap                                                             */
.dashboard-section {
  background-color: #e1e9ed;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0px 2px 2px #999;
  -webkit-box-shadow: 0px 2px 2px #999;
  box-shadow: 0px 2px 2px #999;
}

.dashboard-header {
  background-color: #ff8c15;
  color: #fff;
  font-weight:bold;
  padding:2px 10px;
  text-shadow:0 1px #222222;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
}

.dashboard-marker {
  background-color: #ff8c15;
  color: #fff;
  font-weight:bold;
  padding:2px 10px;
  text-shadow:0 1px #222222;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.dashboard-header-copy {
  background-color: #C0DEED; /*#ffd7ad;*/
  color: #002233;
  padding: 2px 10px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
}

.dashboard-item-left, .dashboard-item-calc-left {
  padding: 2px 10px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}

.dashboard-item-left {
  background-color: #C0DEED;
  color: #002233;
}

.dashboard-item-calc-left {
  background-color: #d2d2d2;
  color: #002233;
}

.dashboard-item-right, .dashboard-item-calc-right {
  padding: 2px 10px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.dashboard-item-right {
  background-color: #5599bb;
  color: #fff;
}

.dashboard-item-calc-right {
  background-color: #aaa;
  color: #fff;
}

.edit, .edit a:visited {
  color: #002233;
  float: right;
  padding: 2px 3px;
  margin-top: -3px;
  text-decoration: underline;
}

.edit a:hover, .edit a:focus {
  color: #fff;
  background-color: #5599BB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

ul.item, ul.item-calc {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.item li {
  padding: 4px 0px 4px 10px;
}

ul.item-calc li {
  padding: 4px 0px 4px 10px;
}

ul.item li div, ul.item-calc li div {
  display: inline-block;
  width: 120px;
  padding: 3px 10px;
}

ul.item li div input {
  color: #222;
  background: #fff;
  border: 1px solid #C0DEED;
  width: 100%;
  padding: 0px 2px;
  margin: 0;
  text-align: left;
  text-shadow: none;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topRight: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

a.button-big {
  color: #333;
  border: 1px solid #eee;
  background: #99CC22 url(/images/button-big.png) repeat-x scroll 0 0;
  margin: 0px 15px;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 5px 20px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  text-decoration: none;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topRight: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

a.button-big:hover, a.button-big:focus {
  background-position: 0 -10px;
  color: #111;
}

/******************************************************************************/
/* Progress Meter                                                             */
.meter-wrap{
  position: relative;
}
.meter-wrap, .meter-value, .meter-text {
  /* The width and height of your image */
  height: 35px;
  background-color: #aaa;
}
.meter-wrap {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.meter-value {
  background: #99CC22 url(/images/progress-bar.png) repeat-x scroll 0 0;
  -moz-border-radius-bottomLeft: 10px;
  -moz-border-radius-topLeft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}

.meter-text {
  position: absolute;
  top:0; left:0;
  padding-top: .5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  background: transparent;
  text-shadow: 0 1px 0 #e2e2e2;/*#E1E9ED;*/
  text-align: center;
  width: 100%;
}