<% content_for :content do -%>
  <div class="container_12 clearfix content">
    <div class="grid_12" style="padding-bottom: 15px;">
      <h1>Edit My Account</h1>

      <% form_for @user, :url => account_path do |f| %>
        <%= f.error_messages %>
        <%= render :partial => "form", :object => f %><br />
        <%= f.submit "Update" %>
      <% end %>

      <br /><%= link_to "My Profile", account_path %>
    </div>
  </div>
<% end %>