<% content_for :content do -%>
  <div id="dashboard" class="container_12 clearfix">
    <div id="goal" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="height: 150px; margin-top: 10px;">
        <div style="font-size: 1.25em; margin: 15px 10px 20px 10px;">
          <span class="dashboard-header">Goal</span><span class="dashboard-header-copy">Complete the Waupaca Triathlon in under 2 hours&nbsp;&nbsp;/&nbsp;&nbsp;Swim under 17 minutes</span>
        </div>
        <hr />
        <div style="padding: 10px 10px 10px 10px; font-size: 1.25em;">
          <div style="display: inline-block;"
            <span class="dashboard-secondary-left">Start Date</span><span>March 3rd, 2010</span>
          </div>
          <div style="display: inline-block; float: right;">
            <span>Aug 19th, 2010</span><span class="dashboard-secondary-right">End Date</span>
          </div>
        </div>
        <div class="meter-wrap" style="padding: 1px; margin-right: 10px; margin-left: 10px">
          <div class="meter-value" style="width: 64%;">
            <div class="meter-text">
              9 of 14 Workouts Complete (64%)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="current" class="container_12 clearfix">
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Measurements</span>
        </div>
        <hr />
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Program</span>
        </div>
        <hr />
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plan</span>
        </div>
        <hr />
      </div>
    </div>
  </div>
<% end -%>