<h1>Strength Exercise Plan Set</h1>
<div class="account-form">
  <%= form.label :reps %><br />
  <%= form.text_field :reps %><br />
  <br />
  <%= form.label :weight %><br />
  <%= form.text_field :weight %><br />
</div>
