.info-confirm {
  color: #eee;
  font-size: 1.25em;
  font-weight: bold;
  border: 2px solid #eee;
  margin: 12px;
  padding: 10px 20px;;
  background-color: #5599BB;
  text-shadow: 0 1px 0 #222;
  -webkit-border-radius: 10px;
}
.exericse-plan-notes {
  font-size: 0.75em;
  color: #555;
  text-overflow: ellipsis;
}

