ul li.complete {
    background-image: url(img/complete.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
ul li.complete a.active {
    background-image: url(img/complete.png);
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
.info-confirm {
  color: #eee;
  font-size: 1.25em;
  font-weight: bold;
  border: 2px solid #eee;
  margin: 12px;
  padding: 10px 20px;;
  background-color: #5599BB;
  text-shadow: 0 1px 0 #222;
  -webkit-border-radius: 10px;
}
.list-notes {
  font-size: 0.65em;
  color: #c0deed;
  text-overflow: ellipsis;

}
#ajax-dialog {
  background-color: rgba(17,17,17,0.7);
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  height: 80px;
  left: 60px;
  line-height: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 136px;
  width: 200px;
  display: none;
  -webkit-border-radius: 10px;
}