<!-- div id="footer" class="clearfix" -->
  <div id="footer" class="container_12 clearfix">
    <div class="grid_2">© 2010 Get2Fit, LLC</div>
      <div class="grid_10">
        <ul id="contact">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
  </div>
<!-- /div -->