<!-- div id="footer" class="clearfix" -->
  <div id="footer" class="container_12 clearfix">
    <div class="grid_4 suffix_9"
      <span>© 2010 Get2Fit, Inc. <a href="#" style="color: #fff;">Terms & Conditions</a>.</span>
    </div>
  </div>
<!-- /div -->