<!-- div id="header" class="clearfix" -->
  <div id="header" class="container_12 clearfix">
    <div class="grid_4">
      <div id="logo">
        <%= link_to image_tag("/images/logo.png", :alt => "get2fit", :title => "get2fit", :style => "border: 0; padding-top: 0.25em;"), root_path %>
      </div>
    </div>
    <div class="grid_8">
      <div id="nav">
        <ul>
          <li><%= link_to 'Home', dashboards_path %></li>
          <li><%= link_to 'Create', programs_path %></li>
          <li><a href="#">Track</a></li>
          <li><%= link_to 'Analyze', analyzes_path %></li>
        </ul>
      </div>
    </div>
  </div>
<!-- /div -->
