<!-- div id="header" class="clearfix" -->
  <div id="header" class="container_12 clearfix">
    <div class="grid_4">
      <div id="logo">
        <img src="/images/logo.png" alt="logo" style="padding-top: 0.25em;" />
      </div>
    </div>
    <div class="grid_8">
      <div id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Track</a></li>
          <li><a href="#">Analyze</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- /div -->
