<!-- div id="super-header" class="clearfix" -->
  <div id = "super-header" class="container_12 clearfix">
    <div class="grid_3 prefix_9">
      <ul id="account">
        <li><a href="#">Signup</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
<!-- /div -->
